#id-4 {
    color: red;
}

#id-7 {
    color: blue;
}

#id-11 {
    color: green;
}

#id-12 {
    color: orange;
}

#id-25 {
    color: yellow;
}

#id-39 {
    color: pink;
}

#id-94 {
    color: purple;
}

#id-133 {
    color: brown;
}